<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>CallSMSPlatform</display-name>
	<!-- log4j初始化servlet -->
	<servlet>
		<servlet-name>log4jInit</servlet-name>
		<servlet-class>com.trueway.servlet.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
	</servlet>
	<!-- 短信发送servlet -->
	<servlet>  
		<servlet-name>smsCall</servlet-name>  
		<servlet-class>com.trueway.servlet.SMSPlatformCallController</servlet-class>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>smsCall</servlet-name>  
		<url-pattern>/sendMsg</url-pattern>  
	</servlet-mapping>
	<!-- 接口状态检查servlet -->
	<servlet>  
		<servlet-name>interfaceCheck</servlet-name>  
		<servlet-class>com.trueway.servlet.CheckInterfaceStatus</servlet-class>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>interfaceCheck</servlet-name>  
		<url-pattern>/conn</url-pattern>  
	</servlet-mapping>
	<!-- rsa解码接口 -->
	<servlet>  
		<servlet-name>decodeByRsa</servlet-name>  
		<servlet-class>com.trueway.servlet.DecodeByRsa</servlet-class>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>decodeByRsa</servlet-name>  
		<url-pattern>/decodeByRsa</url-pattern>  
	</servlet-mapping>
</web-app>